<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xiaoneng.xnchatui"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.1">
    <!-- 我的jar包所需要的配置 -->

    <!-- ***************************小能SDK所需要Activity和Service ********************* -->
    <application>
        <activity
            android:name="cn.xiaoneng.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault"/>
        <activity
            android:name="cn.xiaoneng.activity.LeaveMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="cn.xiaoneng.activity.ShowCameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTopRight">
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.ShowAlbumActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.ValuationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/valuationdialog">
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.ShowPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.XNExplorerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <!-- 测试页面 -->
        <activity android:name="com.hxqc.xiaoneng.ChatTestActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <!--<activity android:name="com.hxqc.xiaoneng.TextXiaoNengActivity">-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
            <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN"/>&ndash;&gt;-->

            <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER"/>&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--</activity>-->
        <receiver android:name="com.hxqc.xiaoneng.ChatNotificationReceiver"
            >
            <intent-filter >
                <action android:name="com.hxqc.chatManager"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
